The code below reads the data from a MySQL database and stores it in a pandas dataframe.  

Install pymysql to run the code:

```pip install pymysql```

In [2]:
import os
import pymysql
import pandas as pd

host = os.environ.get("MYSQL_DB_HOST")
user = os.environ.get("MYSQL_DB_USER")
password = os.environ.get("MYSQL_DB_PW")
database = 'MBTAdb'

conn = pymysql.connect(
    host=host,
    port=int(3306),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM mbta_buses",
    conn)

df.tail(10)

c:\Users\jlste\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,record_num,route_number,id,bearing,current_status,current_stop_sequence,direction_id,label,latitude,longitude,occupancy_status,speed,updated_at
26219,26220,1,y1895,170,IN_TRANSIT_TO,12.0,1,1895,42.348353,-71.088514,MANY_SEATS_AVAILABLE,None,2022-11-02 23:04:57
26220,26221,1,y1893,0,IN_TRANSIT_TO,1.0,1,1893,42.330150,-71.083220,None,None,2022-11-02 23:04:35
26221,26222,1,y1865,48,IN_TRANSIT_TO,15.0,0,1865,42.359417,-71.093947,MANY_SEATS_AVAILABLE,None,2022-11-02 23:04:51
26222,26223,1,y1864,339,IN_TRANSIT_TO,12.0,0,1864,42.344704,-71.086456,MANY_SEATS_AVAILABLE,None,2022-11-02 23:04:55
26223,26224,1,y1863,0,IN_TRANSIT_TO,16.0,0,1863,42.360448,-71.095218,FULL,None,2022-11-02 23:04:44
26224,26225,1,y1855,131,IN_TRANSIT_TO,15.0,1,1855,42.341590,-71.083146,FULL,None,2022-11-02 23:04:56
26225,26226,1,y1812,164,IN_TRANSIT_TO,13.0,1,1812,42.345292,-71.086708,MANY_SEATS_AVAILABLE,None,2022-11-02 23:04:55
26226,26227,1,y1794,0,IN_TRANSIT_TO,1.0,0,1794,42.373027,-71.117391,FEW_SEATS_AVAILABLE,None,2022-11-02 23:04:48
26227,26228,1,y1776,0,IN_TRANSIT_TO,1.0,1,1776,42.329800,-71.083490,None,None,2022-11-02 23:04:35
26228,26229,1,y1774,90,IN_TRANSIT_TO,1.0,1,1774,42.329930,-71.083650,None,None,2022-11-02 23:04:35

In [3]:
df.shape

(26229, 13)

In [4]:
df['updated_at'].min()

Timestamp('2022-11-02 14:06:48')

In [5]:
df['occupancy_status'].value_counts()

MANY_SEATS_AVAILABLE    15016
FEW_SEATS_AVAILABLE      6887
FULL                     2780
Name: occupancy_status, dtype: int64


The code below saves the data as a csv file to the local directory as a backup.

In [6]:
df.to_csv('mbta_11.2.22.csv')

<h1>Determining the average time it takes for a bus to complete the route</h1>

In [2]:
import pandas as pd

df = pd.read_csv("mbta_11.2.22.csv", parse_dates=['updated_at'])

In [5]:
# df["group_diff"] = df.sort_values("updated_at")\
#                      .groupby(['id', 'current_stop_sequence','direction_id'])["updated_at"]\
#                      .diff()\
#                      .gt(pd.Timedelta(minutes=10))\
#                      .cumsum().astype(float).astype(int).astype(str)

In [3]:
# Timeframe duration for recording MBTA bus operations
x = df['updated_at'].max() - df['updated_at'].min()
x

Timedelta('0 days 08:58:00')

In [4]:
df

,record_num,route_number,id,bearing,current_status,current_stop_sequence,direction_id,label,latitude,longitude,occupancy_status,speed,updated_at,group_diff
0,24920,1,y1774,219,IN_TRANSIT_TO,1.0,0,1774,42.331729,-71.082035,MANY_SEATS_AVAILABLE,NaN,2022-11-02 22:40:00,0
1,24929,1,y1774,224,IN_TRANSIT_TO,1.0,0,1774,42.331408,-71.082384,MANY_SEATS_AVAILABLE,NaN,2022-11-02 22:40:00,0
2,24938,1,y1774,224,IN_TRANSIT_TO,1.0,0,1774,42.331408,-71.082384,MANY_SEATS_AVAILABLE,NaN,2022-11-02 22:40:00,0
3,24947,1,y1774,221,IN_TRANSIT_TO,1.0,0,1774,42.330995,-71.082884,MANY_SEATS_AVAILABLE,NaN,2022-11-02 22:40:00,0
4,24956,1,y1774,226,IN_TRANSIT_TO,1.0,0,1774,42.330787,-71.083117,MANY_SEATS_AVAILABLE,NaN,2022-11-02 22:40:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26224,26180,1,y1895,0,IN_TRANSIT_TO,11.0,1,1895,42.349606,-71.089024,MANY_SEATS_AVAILABLE,NaN,2022-11-02 23:03:00,5
26225,26190,1,y1895,0,IN_TRANSIT_TO,11.0,1,1895,42.349601,-71.089013,MANY_SEATS_AVAILABLE,NaN,2022-11-02 23:04:00,5
26226,26200,1,y1895,172,IN_TRANSIT_TO,12.0,1,1895,42.349119,-71.088786,MANY_SEATS_AVAILABLE,NaN,2022-11-02 23:04:00,5
26227,26210,1,y1895,161,IN_TRANSIT_TO,12.0,1,1895,42.348942,-71.088673,MANY_SEATS_AVAILABLE,NaN,2022-11-02 23:04:00,5
26228,26220,1,y1895,170,IN_TRANSIT_TO,12.0,1,1895,42.348353,-71.088514,MANY_SEATS_AVAILABLE,NaN,2022-11-02 23:04:00,5

In [5]:
# Grouping records by bus and lap sequence(represented by the 'group_diff' column)
agg_df = df.groupby(['id', 'current_stop_sequence', 'direction_id', 'group_diff'])\
            .agg({'latitude': ['mean'],'longitude': ['mean'], 'updated_at':['min']})
agg_df

                                                      latitude  longitude  \
                                                          mean       mean
id    current_stop_sequence direction_id group_diff
y1774 1.0                   0            0           42.330070 -71.083588
                            1            0           42.329931 -71.083653
y1776 1.0                   0            0           42.373122 -71.117827
                                         1           42.373108 -71.117723
                                         2           42.371733 -71.116650
...                                                        ...        ...
y1895 24.0                  1            0           42.330345 -71.083920
                                         1           42.330294 -71.084000
                                         2           42.330456 -71.083620
                                         3           42.330433 -71.083806
                                         4           42.330366 -71.083955

                                                             updated_at
                                                                    min
id    current_stop_sequence direction_id group_diff
y1774 1.0                   0            0          2022-11-02 22:40:00
                            1            0          2022-11-02 22:49:00
y1776 1.0                   0            0          2022-11-02 14:53:00
                                         1          2022-11-02 16:15:00
                                         2          2022-11-02 17:04:00
...                                                                 ...
y1895 24.0                  1            0          2022-11-02 14:51:00
                                         1          2022-11-02 16:26:00
                                         2          2022-11-02 17:55:00
                                         3          2022-11-02 20:25:00
                                         4          2022-11-02 22:15:00

[2162 rows x 3 columns]

In [6]:
agg_df.reset_index(inplace=True)

In [7]:
agg_df

,id,current_stop_sequence,direction_id,group_diff,latitude,longitude,updated_at
,,,,,mean,mean,min
0,y1774,1.0,0,0,42.330070,-71.083588,2022-11-02 22:40:00
1,y1774,1.0,1,0,42.329931,-71.083653,2022-11-02 22:49:00
2,y1776,1.0,0,0,42.373122,-71.117827,2022-11-02 14:53:00
3,y1776,1.0,0,1,42.373108,-71.117723,2022-11-02 16:15:00
4,y1776,1.0,0,2,42.371733,-71.116650,2022-11-02 17:04:00
...,...,...,...,...,...,...,...
2157,y1895,24.0,1,0,42.330345,-71.083920,2022-11-02 14:51:00
2158,y1895,24.0,1,1,42.330294,-71.084000,2022-11-02 16:26:00
2159,y1895,24.0,1,2,42.330456,-71.083620,2022-11-02 17:55:00
2160,y1895,24.0,1,3,42.330433,-71.083806,2022-11-02 20:25:00
2161,y1895,24.0,1,4,42.330366,-71.083955,2022-11-02 22:15:00

In [8]:
agg_df.columns

MultiIndex([(                   'id',     ''),
            ('current_stop_sequence',     ''),
            (         'direction_id',     ''),
            (           'group_diff',     ''),
            (             'latitude', 'mean'),
            (            'longitude', 'mean'),
            (           'updated_at',  'min')],
           )

In [9]:
agg_df.columns = agg_df.columns.get_level_values(0)
agg_df

,id,current_stop_sequence,direction_id,group_diff,latitude,longitude,updated_at
0,y1774,1.0,0,0,42.330070,-71.083588,2022-11-02 22:40:00
1,y1774,1.0,1,0,42.329931,-71.083653,2022-11-02 22:49:00
2,y1776,1.0,0,0,42.373122,-71.117827,2022-11-02 14:53:00
3,y1776,1.0,0,1,42.373108,-71.117723,2022-11-02 16:15:00
4,y1776,1.0,0,2,42.371733,-71.116650,2022-11-02 17:04:00
...,...,...,...,...,...,...,...
2157,y1895,24.0,1,0,42.330345,-71.083920,2022-11-02 14:51:00
2158,y1895,24.0,1,1,42.330294,-71.084000,2022-11-02 16:26:00
2159,y1895,24.0,1,2,42.330456,-71.083620,2022-11-02 17:55:00
2160,y1895,24.0,1,3,42.330433,-71.083806,2022-11-02 20:25:00
2161,y1895,24.0,1,4,42.330366,-71.083955,2022-11-02 22:15:00

In [10]:
agg_df['group_diff'].value_counts()

1    500
2    420
0    403
3    351
4    305
5    182
6      1
Name: group_diff, dtype: int64

In [11]:
# Selecting the first full lap to compare all busses against eachother
gp_df = agg_df[agg_df['group_diff']==1]
gp_df

,id,current_stop_sequence,direction_id,group_diff,latitude,longitude,updated_at
3,y1776,1.0,0,1,42.373108,-71.117723,2022-11-02 16:15:00
9,y1776,1.0,1,1,42.329861,-71.084035,2022-11-02 15:30:00
16,y1776,2.0,0,1,42.351974,-71.100820,2022-11-02 15:40:00
21,y1776,2.0,1,1,42.366170,-71.112997,2022-11-02 14:57:00
27,y1776,3.0,0,1,42.332391,-71.081358,2022-11-02 15:41:00
...,...,...,...,...,...,...,...
2140,y1895,22.0,1,1,42.332382,-71.081302,2022-11-02 16:24:00
2144,y1895,23.0,0,1,42.371779,-71.115003,2022-11-02 15:39:00
2149,y1895,23.0,1,1,42.330810,-71.083113,2022-11-02 16:25:00
2153,y1895,24.0,0,1,42.372696,-71.116263,2022-11-02 15:40:00
2158,y1895,24.0,1,1,42.330294,-71.084000,2022-11-02 16:26:00

In [ ]:
# Archiving the summarized dataframe
gp_df.to_csv('agg_df_11.2.22.csv', index=False)

In [12]:
# First creating a dataframe that contains the finish times for the first full lap
max_df = gp_df.groupby(['id']).agg({'updated_at': ['max']})
max_df.reset_index(inplace=True)
max_df.columns = max_df.columns.get_level_values(0)
max_df = max_df.rename(columns = {'updated_at': 'max_time'})

# Building another dataframe that contains the start times for the first full lap
min_df = gp_df.groupby(['id']).agg({'updated_at': ['min']})
min_df.reset_index(inplace=True)
min_df.columns = min_df.columns.get_level_values(0)
min_df = min_df.rename(columns = {'updated_at': 'min_time'})

# Joining the two dataframes and taking the difference between the start and finish times
duration_df = pd.merge(max_df, min_df, how='inner')
duration_df['duration'] = duration_df['max_time'] - duration_df['min_time']
duration_df

       id            max_time            min_time        duration
0   y1776 2022-11-02 16:15:00 2022-11-02 14:57:00 0 days 01:18:00
1   y1789 2022-11-02 16:50:00 2022-11-02 15:24:00 0 days 01:26:00
2   y1794 2022-11-02 16:14:00 2022-11-02 14:48:00 0 days 01:26:00
3   y1812 2022-11-02 23:04:00 2022-11-02 19:15:00 0 days 03:49:00
4   y1852 2022-11-02 16:51:00 2022-11-02 15:29:00 0 days 01:22:00
5   y1855 2022-11-02 23:03:00 2022-11-02 21:40:00 0 days 01:23:00
6   y1863 2022-11-02 21:31:00 2022-11-02 15:23:00 0 days 06:08:00
7   y1864 2022-11-02 17:10:00 2022-11-02 15:42:00 0 days 01:28:00
8   y1865 2022-11-02 17:16:00 2022-11-02 15:55:00 0 days 01:21:00
9   y1893 2022-11-02 16:29:00 2022-11-02 14:51:00 0 days 01:38:00
10  y1895 2022-11-02 16:26:00 2022-11-02 15:06:00 0 days 01:20:00

### When including all busses, it takes an average of 2 hours and 3 minutes to complete the route.

In [13]:
duration_df['duration'].mean()

Timedelta('0 days 02:03:32.727272727')

### For busses that were fully operational, it took an average of 1 hour and 24 minutes to complete the route.

In [15]:
# Excluding busses 1812 and 1863 which were not fully operational
trimmed_df = duration_df[~duration_df['id'].isin(['y1812','y1863'])]
trimmed_df['duration'].mean()

Timedelta('0 days 01:24:40')